<nav class="navbar navbar-light" style="background-color: #2980b9; color: aqua">
  <h2>{{title}} Management System</h2>
</nav>
<app-delete-modal></app-delete-modal>
|
<app-add-modal></app-add-modal>

<div class="clearfix">
  <ul class="pagination">
    <li class="page-item"><a href="#" class="page-link">Previous</a></li>
    <li class="page-item"><a href="#" class="page-link">1</a></li>
    <li class="page-item"><a href="#" class="page-link">2</a></li>
    <li class="page-item"><a href="#" class="page-link">3</a></li>
    <li class="page-item"><a href="#" class="page-link">4</a></li>
    <li class="page-item"><a href="#" class="page-link">5</a></li>
    <li class="page-item"><a href="#" class="page-link">Next</a></li>
  </ul>
</div>

