<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modelAdd">
  Add new
</button>
<!-- Add New Modal -->
<div class="modal fade" id="modelAdd" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true"
     data-bs-keyboard="false" data-bs-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form action="" [formGroup]="rfStudent">
        <div class="modal-header">
          <h4 class="modal-title" id="modelTitleId">Create new entry</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Name</label>
            <input #name type="text" class="form-control" formControlName="name">
            <p class="text-danger" *ngIf="rfStudent.controls.name?.errors?.required">Tên không được để trống</p>
            <p class="text-danger" *ngIf="rfStudent.controls.name?.errors?.maxlength">Tên không được >20</p>
            <p class="text-danger" *ngIf="rfStudent.controls.name?.errors?.pattern">Tên không chứa ký tự đặc biệt,số</p>
          </div>

          <div class="form-group">
            <label>Score</label>
            <input #score type="number" class="form-control" formControlName="score">
            <p class="text-danger" *ngIf="rfStudent.controls.score?.errors?.required">Điểm không được để trống</p>
            <p class="text-danger" *ngIf="rfStudent.controls.score?.errors?.invalidScore">Điểm nằm từ 1 -> 10</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button [disabled]="rfStudent.invalid" type="button" class="btn btn-success"
                  (click)="addStudent(name.value, score.value)">Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
