<div class="card" style="width: 20rem;">
  <div class="card-body">
    <h4 class="card-title">Detail</h4>
    <div class="form-group">
      <p>Code: {{product.productCode}}</p>
      <p>Name: {{product.productName}}</p>
      <p>Price: {{product.productPrice}}</p>
      <p>Length: {{product.productLength}}</p>
      <p>Width: {{product.productWidth}}</p>
      <p>Height: {{product.productHeight}}</p>
      <p>Weight: {{product.productWeight}}</p>
    </div>
    <button type="button" name="" id="" class="btn btn-secondary" routerLink="/product/list">
      Back to list
    </button>
  </div>
</div>
