<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modelAdd">
  Create new
</button>

<!-- Add New Modal -->
<div class="modal fade" id="modelAdd" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true"
     data-bs-keyboard="false" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <form action="" [formGroup]="productForm" (ngSubmit)="submitAdd()">
        <div class="modal-header">
          <h4 class="modal-title" id="modelTitleId">Create new entry</h4>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label>productCode<span>*</span></label>
            <input type="text" class="form-control" formControlName="productCode">
            <p class="text-danger" *ngIf="productForm.controls.productCode?.touched
               && productForm.controls.productCode?.errors?.required">productCode không được để trống</p>
            <p class="text-danger" *ngIf="productForm.controls.productCode?.errors?.pattern">productCode không đúng
              định dạng</p>
          </div>

          <div class="form-group">
            <label>productName<span>*</span></label>
            <input type="text" class="form-control" formControlName="productName">
            <p class="text-danger" *ngIf="productForm.controls.productName?.touched
               && productForm.controls.productName?.errors?.required">productName không được để trống</p>
          </div>

          <div class="form-group">
            <label>productPrice<span>*</span></label>
            <input type="text" class="form-control" formControlName="productPrice">
            <p class="text-danger" *ngIf="productForm.controls.productPrice?.touched
               && productForm.controls.productPrice?.errors?.required">productPrice không được để trống</p>
          </div>

          <div class="form-group">
            <label>productCreateDate<span>*</span></label>
            <input type="date" class="form-control" formControlName="productCreateDate">
            <p class="text-danger" *ngIf="productForm.controls.productCreateDate?.touched
               && productForm.controls.productCreateDate?.errors?.required">productCreateDate không được để trống</p>
          </div>

          <div class="form-group">
            <label>productLength<span>*</span></label>
            <input type="text" class="form-control" formControlName="productLength">
            <p class="text-danger" *ngIf="productForm.controls.productLength?.touched
               && productForm.controls.productLength?.errors?.required">productLength không được để trống</p>
          </div>

          <div class="form-group">
            <label>productWidth<span>*</span></label>
            <input type="text" class="form-control" formControlName="productWidth">
            <p class="text-danger" *ngIf="productForm.controls.productWidth?.touched
               && productForm.controls.productWidth?.errors?.required">productWidth không được để trống</p>
          </div>

          <div class="form-group">
            <label>productHeight<span>*</span></label>
            <input type="text" class="form-control" formControlName="productHeight">
            <p class="text-danger" *ngIf="productForm.controls.productHeight?.touched
               && productForm.controls.productHeight?.errors?.required">productHeight không được để trống</p>
          </div>

          <div class="form-group">
            <label>productWeight<span>*</span></label>
            <input type="text" class="form-control" formControlName="productWeight">
            <p class="text-danger" *ngIf="productForm.controls.productWeight?.touched
               && productForm.controls.productWeight?.errors?.required">productWeight không được để trống</p>
          </div>

          <div class="form-group">
            <label>category<span>*</span></label>
<!--            <form action="" [formGroup]="categoryForm">-->
              <select class="form-control" formControlName="category">
                <option [ngValue]="null" disabled>Choose your category</option>
                <option *ngFor="let category of categories" [ngValue]="category">
                  {{ category.categoryName }}
                </option>
              </select>
<!--            </form>-->
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-success" data-bs-dismiss="modal" [disabled]="productForm.invalid">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

