<form action="" [formGroup]="registerForm">
  <div class="modal-header">
    <h4 class="modal-title" id="modelTitleId">Create new entry</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Email<span>*</span></label>
      <input type="email" class="form-control" #email formControlName="email">
      <p class="text-danger" *ngIf="registerForm.controls.email?.touched
      && registerForm.controls.email?.errors?.required">Email không được để trống</p>
      <p class="text-danger" *ngIf="registerForm.controls.email?.errors?.pattern">Không đúng định dang *@*</p>
    </div>

    <div class="form-group">
      <label>Password <span>*</span></label>
      <!--      <input type="password" class="form-control" [(ngModel)]="password" formControlName="password">-->
      <input type="password" class="form-control" #password formControlName="password">
      <p class="text-danger" *ngIf="registerForm.controls.password?.touched
         && registerForm.controls.password?.errors?.required">Password không được để trống</p>
      <p class="text-danger" *ngIf="registerForm.controls.password?.errors?.minlength">Password tối thiểu 6 ký tự</p>
    </div>

    <div class="form-group">
      <label>Confirm Password <span>*</span></label>
      <input type="password" class="form-control" #confirmPassword formControlName="confirmPassword">
      <p class="text-danger" *ngIf="registerForm.controls.confirmPassword?.touched
      &&  registerForm.controls.confirmPassword?.errors?.required">Password không được để trống</p>
      <p class="text-danger" *ngIf="confirmPassword.value != password.value">Password không trùng</p>
    </div>

    <div class="form-group">
      <label>Country<span>*</span></label>
      <select class="form-control" #country formControlName="country">
        <option *ngFor="let country of countries, index as i">
          {{country.name}}
        </option>
      </select>
      <p class="text-danger" *ngIf="registerForm.controls.country?.touched
      && registerForm.controls.country?.errors?.required">Country không được để trống</p>
    </div>

    <div class="form-group">
      <label>dateOfBirth<span>*</span></label>
      <input type="date" class="form-control" #date formControlName="date">
      <p class="text-danger" *ngIf="registerForm.controls.date?.touched
      && registerForm.controls.date?.errors?.required ">Age không được trống</p>
      <p class="text-danger" *ngIf="registerForm.controls.date?.touched
      && registerForm.controls.date?.errors?.invalidAge">Age không được dưới 18</p>
    </div>

    <div class="form-group">
      <label>Gender<span>*</span></label>
      <br>
      <input type="radio" formControlName="gender" value="Nam" [(ngModel)]="gender"><span>Nam</span> |
      <input type="radio" formControlName="gender" value="Nữ" [(ngModel)]="gender"><span>Nữ</span> |
      <input type="radio" formControlName="gender" value="Khác" [(ngModel)]="gender"><span>Khác</span> |
      <p class="text-danger" *ngIf="registerForm.controls.gender?.errors?.touched">Gender không được để trống</p>

    </div>

    <div class="form-group">
      <label>Phone<span>*</span></label>
      <input type="text" class="form-control" #phone formControlName="phone">
      <p class="text-danger" *ngIf="registerForm.controls.phone?.touched
      && registerForm.controls.phone?.errors?.required">Phone không được để trống</p>
      <p class="text-danger" *ngIf="registerForm.controls.phone?.errors?.pattern">Phone không đúng định dạng</p>

    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    <button [disabled]="registerForm.invalid" type="button" class="btn btn-success"
            (click)="registerUser(email.value, password.value, confirmPassword.value, country.value, date.value,
            gender, phone.value)">Save
    </button>
  </div>
</form>
