<div class="container">
  <h1 class="heading">Management System</h1>

  <button type="button" (click)="getProducts()">Get Products</button>

  <div class='table-responsive'>
    <table class='table'>
      <thead>
      <tr>
        <th>productCode</th>
        <th>productName</th>
        <th>productPrice</th>
        <th>productCreateDate</th>
        <th>productLength</th>
        <th>productWidth</th>
        <th>productHeight</th>
        <th>productWeight</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products;">
        <td>{{product.productCode}}</td>
        <td>{{product.productName}}</td>
        <td>{{product.productPrice}}</td>
        <td>{{product.productCreateDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{product.productLength}}</td>
        <td>{{product.productWidth}}</td>
        <td>{{product.productHeight}}</td>
        <td>{{product.productWeight}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
